@model IEnumerable<Brand>

@{
    ViewData["Title"] = "Brands";
}

<p class="topProducts" style="top: 45px;">BRANDS</p>

<link rel="stylesheet" href="~/css/brands.css">


<div class="d-flex justify-content-center">
    @foreach (var brand in Model)
    {
        <div class="brandCard">
            <a asp-area="" asp-controller="Product" asp-action="Brand" asp-route-brandId="@brand.Id">
                @{
                    if (brand.LogoImageData != "")
                    {
                        <img src="@brand.LogoImageData" alt="@brand.Name Logo" class="brandLogo">
                    }
                    else
                    {
                      <h2>@brand.Name</h2>
                    }
                }
                <p>@brand.Description</p>
            </a>
        </div>
    }
</div>