@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "My Orders";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Fullname</label></th>
            <th><label>Phone Number</label></th>
            <th><label>Address</label></th>
            <th><label>Postal Code</label></th>
            <th><label>Total Price</label></th>
            <th><label>Date of order</label></th>
            <th><label>Status</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td><label>@order.FullName</label></td>
                <td><label>@order.Phone</label></td>
                <td><label>@order.Address</label></td>
                <td><label>@order.PostalCode</label></td>
                <td><label>@order.TotalPrice</label></td>
                <td><label>@order.OrderDate.ToString("dddd, dd MMMM yyyy")</label></td>
                <td>
                    @if (order.IsComplete == true)
                    {
                        <label>✔</label>
                    }
                    else
                    {
                            <form asp-area="" asp-controller="Order" asp-action="Confirm" asp-route-orderId="@order.Id" method="post">
                                <button type="submit" class="btn btn-success">Confirm received</button>
                            </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>