@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "All available products";
    int i = 0;
}

<html>

    <head>
        <title>Admin Menu</title>
        <link href="~/css/styling.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="text-center">
            <h1 class="display-4">Admin Menu</h1>
        </div>

        <div class="text-center">
            <h2 class="display-4">All Available Products</h2>
        </div>

        <div class="box">
        @foreach (var product in Model.OrderBy(x => x.Model))
        {
                    <div class="card col-4" style="width: 20rem; ">

                        <img class="card-img-top" style="width: auto; height: 250px;"
                     src="@product.ImageData" alt="Product Image">

                        <div class="card-body">

                            <h5 class="card-title mt-1">@product.Brand @product.Model</h5>
                            <p class="mb-0">Price: @product.Price BGN</p>
                        </div>
                            <form asp-area="Admin" asp-controller="Product" asp-action="RemoveProduct" asp-route-Id="@product.Id" method="post">

                                <input class="btn btn-primary" type="submit" value="Remove product"/>

                            </form>
                    </div>
        }
        </div>
    </body>
</html>