@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "All products";
    int i = 0;
}

<p class="topProducts" style="top: 43px;">ALL PRODUCTS</p>


<div class="d-flex justify-content-center">

    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Clothing name", "All", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Product Price", "All", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th></th>
        </tr>

    @foreach (var product in Model)
    {
        <div class="container page-wrapper">
            <div class="page-inner">
                <div class="row">
                    <div class="el-wrapper">
                        <div class="box-up">
                            <img class="img" src="@product.ImageData" alt="Product Image">
                            <div class="img-info">
                                <div class="info-inner">
                                        <span class="p-name">@product.Model (@product.Brand) </span>
                                </div>
                                @if (product.Category == "Clothing")
                                {
                                    <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                                }
                                @if (product.Category == "Shoes")
                                {
                                    <div class="a-size">Available sizes : <span class="size">36 , 37 , 38 , 43</span></div>
                                }
                            </div>
                        </div>

                        <div class="box-down">
                            <div class="h-bg">
                                <div class="h-bg-inner"></div>
                            </div>

                            <a class="cart" asp-area="" asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                <span class="price">@product.Price BGN</span>
                                <span class="add-to-cart">
                                    <span class="txt">View</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

