@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "All available products";
    int i = 0;
}

<html>

<head>
    <title>Admin Menu</title>
    <link href="~/css/styling.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <p class="topProducts" style="top: 43px;">ALL PRODUCTS</p>

    <div class="d-flex justify-content-center">
        @foreach (var product in Model.OrderBy(x => x.Model))
        {
            <div class="container page-wrapper">
                <div class="page-inner">
                    <div class="row">
                        <div class="el-wrapper">
                            <div class="box-up">
                                <img class="img" src="@product.ImageData" alt="Product Image">
                                <div class="img-info">
                                    <div class="info-inner">
                                        <span class="p-name">@product.Brand @product.Model</span>
                                    </div>
                                    @if (product.Category == "Clothing")
                                    {
                                        <div class="a-size">Available sizes : <span class="size">S , M , L , XL</span></div>
                                    }
                                    @if (product.Category == "Shoes")
                                    {
                                        <div class="a-size">Available sizes : <span class="size">36 , 37 , 38 , 43</span></div>
                                    }
                                </div>
                            </div>

                            <div class="box-down">
                                <div class="h-bg">
                                    <div class="h-bg-inner"></div>
                                </div>

                                <div class="cart">
                                    <span class="price">@product.Price BGN</span>
                                    <span class="add-to-cart">
                                        <form asp-area="Admin" asp-controller="Product" asp-action="RemoveProduct" asp-route-Id="@product.Id" method="post">
                                            <span class="txt">
                                                <button class="txt" type="submit" value="Remove product" style="background: transparent;height: 100px;width: 300px;border: none;color: white;">
                                                    Delete
                                                </button>
                                            </span>
                                        </form>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>