@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "All Orders";
}

<p class="topProducts" style="top: 43px;">ALL ORDERS</p>

<div class="white-box">
    <table class="custom-table">
        <thead>
            <tr class="table-header">
                <th><label class="custom-label">Fullname</label></th>
                <th><label class="custom-label">Phone Number</label></th>
                <th><label class="custom-label">Address</label></th>
                <th><label class="custom-label">Postal Code</label></th>
                <th><label class="custom-label">Total Price</label></th>
                <th><label class="custom-label">Date of order</label></th>
                <th><label class="custom-label">Status</label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr class="table-row">
                    <td><label>@order.FullName</label></td>
                    <td><label>@order.Phone</label></td>
                    <td><label>@order.Address</label></td>
                    <td><label>@order.PostalCode</label></td>
                    <td><label>@order.TotalPrice</label></td>
                    <td><label>@order.OrderDate.ToString("dddd, dd MMMM yyyy")</label></td>
                    <td>
                        @if (order.IsComplete == true)
                        {
                            <label>✔</label>
                        }
                        else
                        {
                            <label>❌</label>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
