@model IEnumerable<OrderViewModel>

@{
    ViewBag.Title = "All Orders";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Fullname</label></th>
            <th><label>Phone Number</label></th>
            <th><label>Address</label></th>
            <th><label>Postal Code</label></th>
            <th><label>Total Price</label></th>
            <th><label>Date of order</label></th>
            <th><label>Status</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td><label>@order.FullName</label></td>
                <td><label>@order.Phone</label></td>
                <td><label>@order.Address</label></td>
                <td><label>@order.PostalCode</label></td>
                <td><label>@order.TotalPrice</label></td>
                <td><label>@order.OrderDate.ToString("dddd, dd MMMM yyyy")</label></td>
                <td>
                    @if (order.IsComplete == false)
                    {
                        <label>✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>